@font-face {
  font-family: 'Patron';
  src: url('./Patron-Bold.eot?') format('eot'),
       url('./Patron-Bold.woff2') format('woff2'),
       url('./Patron-Bold.woff') format('woff'),
       url('./Patron-Bold.otf')  format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Patron';
  src: url('./Patron-BoldItalic.eot?') format('eot'),
       url('./Patron-BoldItalic.woff2') format('woff2'),
       url('./Patron-BoldItalic.woff') format('woff'),
       url('./Patron-BoldItalic.otf')  format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Patron';
  src: url('./Patron-Italic.eot?') format('eot'),
       url('./Patron-Italic.woff2') format('woff2'),
       url('./Patron-Italic.woff') format('woff'),
       url('./Patron-Italic.otf')  format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Patron';
  src: url('./Patron-Regular.eot?') format('eot'),
       url('./Patron-Regular.woff2') format('woff2'),
       url('./Patron-Regular.woff') format('woff'),
       url('./Patron-Regular.otf')  format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Patron';
  src: url('./Patron-Medium.eot?') format('eot'),
       url('./Patron-Medium.woff2') format('woff2'),
       url('./Patron-Medium.woff') format('woff'),
       url('./Patron-Medium.otf')  format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Patron';
  src: url('./Patron-Thin.eot?') format('eot'),
       url('./Patron-Thin.woff2') format('woff2'),
       url('./Patron-Thin.woff') format('woff'),
       url('./Patron-Thin.otf')  format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Patron';
  src: url('./Patron-ThinItalic.eot?') format('eot'),
       url('./Patron-ThinItalic.woff2') format('woff2'),
       url('./Patron-ThinItalic.woff') format('woff'),
       url('./Patron-ThinItalic.otf')  format('opentype');
  font-weight: 300;
  font-style: italic;
}
